.journey {
    max-width: 100%;
}

body {
    margin: 0;
}

.test-p {
    color: green;
}

@media only screen and (max-width: 480px) {
    .test-p {
        color: red;
        /*        font-size: 10em;*/
        font-style: oblique;
    }
}
