html {
    font-size: 100%;
}

ul li {
    display: inline;
    /*visibility: hidden;*/
}

.page {
    background-color: darkgray;
    padding: 10px;
    /* border-width: 20px;*/
    margin: 20px;
    border: 10px ridge #ff0000;
}

.masthead {
    background-color: #00fcff;
}

main {
    float: left;
    background-color: goldenrod;
    width: 50%;
}

.post-photo {
    /*float: left;*/
    border: dashed 5px black;
    width: 20%;
}

.sidebar {
    width: 50%;
    float: right;
    background-color: chartreuse;
}

.endfooter {
    clear: both;
    background-color: aquamarine;
}

.about {
    background-color: #874e1e;
    /*padding: .01em .01em .01em .01em;*/
}

.indie:hover {
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    cursor: pointer;
}

.container {
    /*    margin: 10px;*/
}

.about img {
    vertical-align: middle;
}
/*.mod{
    background-color: antiquewhite;
    height: 100px;
    overflow: auto;
}*/

/*
.out{
     background-color: red;
     width: 50%;
 }
.mid{
    background-color: blue;
    width: 50%;
}
.in{
    background-color: green;
    width: 50%;
}*/
